.DOM{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    form{
        width: 80%;
        margin: 0 auto;
        display: flex;
        gap: 20px;
        border-radius: 20px;
        border: 1px solid lightseagreen;
        padding: 20px;
        flex-wrap: wrap;
        justify-content: space-between;

        input{
            width: 65%;
            outline: none;
            padding: 15px 20px;
            font-size: 16px;
            font-weight: 600;
            font-family: sans-serif;
            border-radius: 15px;
            border: 1px solid lightseagreen;
            &::placeholder{
                font-size: 16px;
                font-weight: 600;
                font-family: sans-serif;
                border-radius: 15px;
            }
        }

        button{
            padding: 15px 20px;
            border: 1px solid lightseagreen;
            background: lightseagreen;
            color: #FFFFFF;
            font-size: 16px;
            font-family: sans-serif;
            border-radius: 15px;
        }
    }

    .cards{
        width: 85%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
        border: 1px solid lightseagreen;
        border-radius: 25px;
        padding: 40px 20px;
        box-sizing: border-box;
    }
}

@media(max-width:605px){

    .DOM{
        form{
            flex-direction: column;
            input, button{
                width: 100%;
                box-sizing: border-box;
            }
        }
        .cards{
            width: 95%;
            padding: 20px 10px;
        }
    }
}